@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: "open Sans", sans-serif;
}

html, body{
    background-color: #ddd;
}

header{
    background-color: #4D4AC0;
    color: #fff;
}

a, A:hover{
    text-decoration: none;
    color: unset;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}